{% extends 'content_base.html' %}
{% block title %}Clientes{% endblock %}

{% block form %}
    {% include 'clientes/cliente_form.html' %}
{% endblock %}

{% block filter %}
    {% include 'contas_filter.html' %}
{% endblock %}

{% block table %}

<div id="table">
    <div id="thead">
        <table class="table">
            <colgroup>
                <col style="width: 42%;">
                <col style="width: 18%;">
                <col style="width: 18%;">
                <col style="width: 22%;">
            </colgroup>
            <thead>
                <tr>
                    {% load contas_extras %}
                    {% ordenar_th "Nome" "nome" order_by order %}
                    {% ordenar_th "CPF/CNPJ" "cpf_cnpj" order_by order %}
                    {% ordenar_th "Telefone" "telefone" order_by order %}
                    {% ordenar_th "Email" "email" order_by order %}
                </tr>
            </thead>
        </table>
    </div>
    <div id="tbody">
        <table class="table">
            <colgroup>
                <col style="width: 42%;">
                <col style="width: 18%;">
                <col style="width: 18%;">
                <col style="width: 22%;">
            </colgroup>
            <tbody>
                {% for cliente in clientes %}
                {% if cliente.ativo %}
                <tr id="{{ cliente.id }}" onclick="select('{{ cliente.id }}')">
                    <td><p>{{ cliente.nome }}</p></td>
                    <td><p>{{ cliente.cpf_cnpj }}</p></td>
                    <td><p>{{ cliente.telefone }}</p></td>
                    <td><p>{{ cliente.email }}</p></td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}