{% extends 'content_base.html' %}
{% block title %}Categorias{% endblock %}

{% block form %}
    {% include 'categorias/categoria_form.html' %}
{% endblock %}

{% block filter %}
    {% include 'contas_filter.html' %}
{% endblock %}

{% block table %}

<div id="table">
    <div id="thead" >
        <table class="table">
            <colgroup>
                <col style="width: 100%;">
            </colgroup>
            <thead>
                <tr>
                    {% load contas_extras %}
                    {% ordenar_th "Nome" "nome" order_by order %}
                </tr>
            </thead>
        </table>
    </div>
    <div id="tbody">
        <table class="table">
            <colgroup>
                <col style="width: 100%;">
            </colgroup>
            <tbody>
                {% for categoria in filter.qs %}
                    <tr id="{{ categoria.id }}" onclick="select('{{ categoria.id }}')">
                        <td><p>{{ categoria.nome }}</p></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">Nenhum resultado encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}