:root {
    --db-color: black;
    --db-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.5);
}

/* Tema Escuro */
[data-bs-theme="dark"] {
    --db-color: white;
    --db-shadow: inset 0px -10px 15px 5px rgba(0, 0, 0, 0.5);
}

.hidden { 
    display: none !important;
}

.visible { 
    display: block !important;
    animation-duration: 0.5s;
    animation-name: show;
}

@keyframes show {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#dropbox-background {
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    backdrop-filter: blur(4px);
}

#dropbox {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 300px;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(200, 200, 200, 0.5);
    box-shadow: var(--db-shadow);
    color: var(--db-color);
}

#dropbox h2 {
    padding: 10px;
    text-align: center;
}

#dropbox form p {
    display: flex;
    justify-content: space-between;
}

#dropbox input, #dropbox select {
    min-width: 20em;
    max-width: 40em;
}

#dropbox label {
    left: 10px;
    margin-right: 10px;
}

#dropbox #btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropbox a, #dropbox button {
    width: 40%;
    margin: 5px;
    font-size: 0.8rem !important;
}