:root {
  --bg-color: rgb(200, 200, 200);
  --card-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.3);
  --card-shadow-hover: 0px 15px 5px 1px rgba(0, 0, 0, 0.3);
  --nav-bg-color: rgba(0, 0, 0, 0.5);
  --card-bg-color: rgb(255, 255, 255);
}

/* Tema Escuro */
[data-bs-theme="dark"] {
  --bg-color: #000000;
  --card-shadow: inset 0px -10px 5px 1px rgba(255, 255, 255, 0.3);
  --card-shadow-hover: inset 0px -5px 5px 1px rgba(255, 255, 255, 0.3);
  --nav-bg-color: rgba(255, 255, 255, 0.5);
  --card-bg-color: rgb(50, 50, 50);
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

body nav {
    width: 100%;
    height: 3rem;
    position: fixed;
    padding: 0px !important;
    margin: 0px !important;
    background-color: var(--nav-bg-color);
}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
}

.nav-link:hover {
    color: rgba(255, 255, 255);
    text-decoration: underline;
}

body main {
    position: fixed;
    width: 100%;
    top: 3rem;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    display: flex;
    padding: 0px;
    margin: 0px;
}

body footer {
    height: 1.5rem;
    width: 100%;
    bottom: 0px;
    position: fixed;
    display: flex;
    padding: 0px;
    margin: 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--nav-bg-color);
    color: white;
    z-index: 0;
}

footer p {
    margin: 0px;
    padding: 0px;
    font-size: 0.9rem;
}

input, select, option {
    border-radius: 30px !important;
    background-color: rgba(255, 255, 255, 0.8) !important;
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1) !important;
    padding-left: 10px;
    color: black !important;
}


a {
    border-radius: 30px !important;
}

button {
    border-radius: 30px !important;
    font-size: 0.7rem !important;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: 10%;
    top: 0px;
    justify-content: center !important;
    align-items: center;
    --bs-gutter-x: 0;
}

#header h2 {
    font-size: clamp(1rem, 2vw + 1rem, 3rem);
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}

#footer {
    width: 100%;
    height: 5%;
    margin-top: 1rem;
}

#footer-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Esconde os botões extras inicialmente */
#form-acao {
    display: flex;          /* mantém layout */
    gap: 0.5rem;
    max-width: 0;           /* começa "fechado" */
    overflow: hidden;
    opacity: 0;
    transform: translateY(10px) scale(0.95);
    transition: all 0.3s ease;
}

#form-acao.show {
    max-width: 200px;       /* largura suficiente pros botões */
    opacity: 1;
    transform: translateY(0) scale(1);
}

/* Bloqueia seleção de texto globalmente */
body, a, th {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Permite seleção apenas em inputs e tabelas */
input,
textarea,
select,
td {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.card {
    background-color: var(--card-bg-color) !important;
    box-shadow: var(--card-shadow) !important;
    transition: 0.1s;
}

.card:hover {
    box-shadow: var(--card-shadow-hover) !important;
}