:root {
  --table-bg: rgba(255, 255, 255, 0.5);
  --p-color: black;
}

/* Tema Escuro */
[data-bs-theme="dark"] {
  --table-bg: rgba(255, 255, 255, 0.1);
  --p-color: white;
}

#table {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 10px !important;
}

#thead {
    width: 100%;
    height: 2rem;
    border-radius: 10px 10px 0px 0px !important;
    box-shadow: inset 0px 5px 12px 2px rgba(255, 255, 255, 0.2);
}

th { 
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0.25rem !important;
}

th form {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

th button {
    margin: 0px !important;
    padding: 0px !important;
    background-color: rgba(0, 0, 0, 0);
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: flex;
    border: 0px;
    font-size: clamp(10px, 2vh, 20px) !important;
}

tbody tr {
    background-color: rgba(255, 255, 255, 0) !important;
    box-shadow: inset 0px -10px 10px 0px rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}

tbody td {
    background-color: rgba(0, 0, 0, 0) !important;
    padding: 0.25rem !important;
}

#tbody {
    background-color: var(--table-bg);
    border-radius: 0px 0px 10px 10px !important;
    height: var(100% - 40px);
    width: 100%;
    overflow:auto;
    padding: 0px !important;
    font-size: clamp(10px, 2vh, 15px) !important;
}

#tbody:hover tr {
    filter: opacity(70%);
    transition-duration: 0.5s;
}

#tbody form {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0px !important;
}

#tbody p, .pagar, .pagar input[type="date"] {
    padding: 0.2rem !important;
}


.pagar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
}

@keyframes form {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#tbody p {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0px !important;
    color: var(--p-color);
}

::-webkit-scrollbar {
    width: 2px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  box-shadow: -10px 0px 5px 0px black;
  z-index: 1;
}

tbody tr:hover {
    filter: opacity(100%) !important;
    transition-duration: 5s;
    box-shadow: 0px 0px 15px 0px black;
}

.selected td {
    background-color: rgb(180, 180, 180) !important;
}

.selected td p {
    color: rgb(0, 0, 0) !important;
}

#thead table,
#tbody table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    margin-bottom: 0px !important;
}

#tbody button {
    padding: 0.15rem;
}