{% extends 'base.html' %}
{% block title %}Contas{% endblock %}

{% block content %}

{% if delete %}
{% include 'confirmacao.html' %}
{% else %}
{% block form %}{% endblock %}
{% endif %}

{% include 'notificacao.html' %}

{% load static %}
<link href="{% static 'financeiro/css/table.css' %}" rel="stylesheet">
<link href="{% static 'financeiro/css/notification.css' %}" rel="stylesheet">
<link href="{% static 'financeiro/css/filter.css' %}" rel="stylesheet">


<div id="content">
    <div id="header" class="d-flex justify-content-between">
        <h2>Contas</h2>
        {% block filter %}{% endblock %}
    </div>

    {% block table %}{% endblock %}

    <div id="footer">
        <div id="footer-actions">
            <button onclick="showDropbox()" class="btn btn-primary">Novo cadastro</button>
            <div id="form-acao">
                <form method="post" class="d-flex gap-2">
                    {% csrf_token %}
                    <input hidden name="id" id="id-reg">
                    <button name="btn" value="edit" class="btn btn-secondary btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button name="btn" value="delete" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}