{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

{% if delete %}
{% include 'confirmacao.html' %}
{% else %}
{% block form %}{% endblock %}
{% endif %}


<div id="content">
    <div id="header" class="d-flex justify-content-between">
        <h2 class="fw-bold mb-2">{% block modulo %}{% endblock %}</h2>
        {% block filter %}{% endblock %}
    </div>

    {% block table %}{% endblock %}

    {% if not dashboard %}
    <div id="footer">
        <div id="footer-actions">
            <button onclick="showDropbox()" class="btn btn-primary">Novo cadastro</button>
            <div id="form-acao">
                <form method="post" class="d-flex gap-2">
                    {% csrf_token %}
                    <input hidden name="id" id="id-reg">
                    <button name="btn" value="edit" class="btn btn-secondary btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button name="btn" value="delete" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}