{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block content %}

{% if delete %}
{% include 'confirmacao.html' %}
{% else %}
{% block form %}{% endblock %}
{% endif %}


<div id="content" class="container-fluid">
    <div id="header" class="row mt-2 mb-2 fs-2">
        <h2 class="fw-bold d-flex align-items-center mb-2 col-12 col-sm-12 col-md-4 col-lg-4">{% block modulo %}{% endblock %}</h2>
        {% block filter %}{% endblock %}
    </div>

    <div id="main-content" class="row">
        {% block table %}{% endblock %}
    </div>

    {% if not dashboard %}
    <div id="footer" class="d-flex justify-content-center">
        <div id="footer-actions">
            <button onclick="showDropbox()" class="btn btn-primary">Novo cadastro</button>
            <div id="form-acao">
                <form method="post" class="d-flex gap-2">
                    {% csrf_token %}
                    <input hidden name="id" id="id-reg">
                    <button name="btn" value="edit" class="btn btn-secondary btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button name="btn" value="delete" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}