<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-list" style="font-size: 1.4rem; color: white;"></i>
  </a>
  <ul class="dropdown-menu shadow rounded">
    <li><a class="dropdown-item {% if dashboard %}selected{% endif %}" href="{% url 'dashboard:dashboard' %}"><i class="bi bi-speedometer2 fs-8 me-2"></i>Dashboard</a></li>
    <li><a class="dropdown-item {% if contas %}selected{% endif %}" href="{% url 'contas:conta_list' %}"><i class="bi bi-cash-stack fs-8 me-2"></i>Contas</a></li>
    <li><a class="dropdown-item {% if clientes %}selected{% endif %}" href="{% url 'clientes:cliente_list' %}"><i class="bi bi-people-fill fs-8 me-2"></i>Clientes</a></li>
    <li><a class="dropdown-item {% if categorias %}selected{% endif %}" href="{% url 'categorias:categoria_list' %}"><i class="bi bi-tags-fill fs-8 me-2"></i>Categorias</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item {% if configuracoes %}selected{% endif %}" href="{% url 'configuracoes:configuracao' %}"><i class="bi bi-gear-fill fs-8 me-2"></i>Configurações</a></li>
    <li><a class="dropdown-item text-danger" href="{% url 'usuarios:logout' %}"><i class="bi bi-box-arrow-right fs-8 me-2"></i>Sair</a></li>
  </ul>
</li>