{% extends 'content_base.html' %}
{% block title %}Contas{% endblock %}
{% block modulo %}<i class="bi bi-cash-stack fs-5 me-2"></i>Contas{% endblock %}

{% block form %}
    {% include 'contas/conta_form.html' %}
{% endblock %}

{% block filter %}
    {% include 'contas_filter.html' %}
{% endblock %}

{% block table %}

<div id="table" class="col">
    <div id="thead">
        <table class="table">
            <colgroup>
                <col style="width: 8%;">
                <col style="width: 27%;">
                <col style="width: 14%;">
                <col style="width: 13%;">
                <col style="width: 13%;">
                <col style="width: 17%;">
                <col style="width: var(8% - 2px);">
            </colgroup>
            <thead>
                <tr>
                    {% load contas_extras %}
                    {% ordenar_th "Tipo" "tipo" order_by order %}
                    {% ordenar_th "Cliente" "cliente" order_by order %}
                    {% ordenar_th "Categoria" "categoria" order_by order %}
                    {% ordenar_th "Valor" "valor" order_by order %}
                    {% ordenar_th "Vencimento" "data_vencimento" order_by order %}
                    {% ordenar_th "Pagamento" "data_pagamento" order_by order %}
                    {% ordenar_th "Status" "status" order_by order %}
                    
                </tr>
            </thead>
        </table>
    </div>
    <div id="tbody">
        <table class="table">
            <colgroup>
                <col style="width: 8%;">
                <col style="width: 27%;">
                <col style="width: 14%;">
                <col style="width: 13%;">
                <col style="width: 13%;">
                <col style="width: 17%;">
                <col style="width: 8%;">
            </colgroup>
            <tbody>
                {% for conta in filter.qs %}
                <tr id="{{ conta.id }}" onclick="select('{{ conta.id }}')">
                    <td><p>{{ conta.tipo }}</p></td>
                    <td><p>{{ conta.cliente }}</p></td>
                    <td><p>{{ conta.categoria }}</p></td>
                    <td><p>{{ conta.valor_formatado }}</p></td>
                    <td><p>{{ conta.data_vencimento|date:"d/m/Y" }}</p></td>
                    <td>
                        {% if conta.data_pagamento %}
                        <p>
                            {{ conta.data_pagamento|date:"d/m/Y" }}
                        </p>
                        {% else %}
                            <form method="post" action="{% url 'contas:marcar_como_pago' conta.pk %}">
                                {% csrf_token %}
                                <div id="pagar-{{ conta.id }}">
                                    <button onclick="handlePagarClick(event, '{{ conta.id }}')" class="pagar btn btn-primary btn-sm">
                                        <i class="bi bi-currency-dollar fs-8 me-2"></i>
                                        Baixar
                                    </button>
                                </div>
                            </form>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if conta.status == "Pago" %}
                            <span class="badge bg-success">{{ conta.status }}</span>
                        {% elif conta.status == "Atrasado" %}
                            <span class="badge bg-danger">{{ conta.status }}</span>
                        {% elif conta.status == "Pendente" %}
                            <span class="badge bg-warning text-dark">{{ conta.status }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" class="text-center">Nenhum resultado encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}